body {
  display: flex;
  flex-direction: column;
  background: rgb(196, 217, 202);
  text-align: center;
  width: 50%; 
  height: 100;
}
.header p {
  font-size: small;
  text-align: justify;
}

#journal-form {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  width: 100px;
  display: inline-block;
  text-align: right;
}

.fields3 {
  display: flexbox;
  margin-top: 20px;
}
